.tablehead {
  background-color: #dc004e;
}

.cell {
  color: white !important;
}

.loading-container {
  margin: 100px 0;
}

.table {
  width: 100% !important;
}

.table-cell {
  width: 100% !important;
}

.icon-button:hover {
  color: #dc004e;
}

.buttons-container {
  width: 100%;
}
